/*/
 * Override OTnewz CSS with your own declarations below
 * To override colors, modify OTnewzThemeTHEMENAME.css
/*/

/*
 * Mobile Styles Here
*/

@media only screen and (min-width : 20em) {
	#logo img{
/*		logo position*/
		position:relative;
		left:-300px;
		max-width:400px;
		padding:0px;
	}
	.navCatsHeader, .xFolkHeaderTitle{
/*		removes categories*/
		display:none;
	}
	#navMainHeading{
/*		menu properties*/
		top:-28px;
		left:20px;
		width:10px;
		height:20px;
		text-indent:-999px;
		background-color:#c6c6c6;
		border:none;
	}
	h2.navMainHeader:before{
	}
	#contentWrap{
		margin-top:0;
/*		removes top margin on content*/
	}
	#navAcct > li > a{
	}
	.entrySorter{
		top:-63px;
	}
	#navAcct .navAcctLogin {
		background: url("/templates/otnewz/assets/images/default/iconsNavPrimary.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		width:25px;
		height:25px;
		background-position: -192px 0;
		text-indent:-999px;
		position:relative;
		top:5px;
		right:35px;
	}
	.modalHeader a{
/*		add join now */
		margin-left:70px;
		font-size:12px;
	}
	#navAcctMenu > li > a:after {
/*		signed in text*/
		margin-right:30px;
	}
	#navAcct .navAcctRegister a{
		display:none;
	}
}

@media only screen and (min-width : 22.5em) {
	
}

@media only screen and (min-width : 30em) {
/*	login*/
	#navAcct .navAcctLogin{
		background: none;
		width:100px;
		height:35px;
		text-indent:0;
		position:static;
	}
	#logo img{
		max-width:400px;
		left:0;
	}
	#navCategories h2 {
		display:block;
	}
	.navAcctLogin{
		font-size:12px;
		margin-right:-10px;
	}
	.navAcctRegister{
		font-size:12px;
		margin-right:0px;
	}
	.entrySorter{
		top:-85px;
		right:30px;
	}
	#contentWrap{
		margin-top:30px;
	/*		removes top margin on content*/
	}	

}

@media only screen and (min-width : 33.75em) {

	
}

@media only screen and (min-width : 40em) {
	.entrySorter{
		top:-88px;
	}
}

@media only screen and (min-width : 42em) {
	.entrySorter{
		top:-89px;
	}
}

@media only screen and (min-width : 48em) {
	
}

@media only screen and (min-width : 50em) {
	#logo img{
		margin: auto 50px;
		max-width:none;
	}	
	.entrySorter{
		top:0px;
/*		position:static;*/
	}
	.xFolkHeaderTitle{
		display:block;
	}
}

@media only screen and (min-width : 55em) {
	#navAcct .navAcctRegister a{
		display:block;
	}
	#navCategories h2{
		display:none;
	}
}

@media only screen and (min-width : 60em) {
	
}

@media only screen and (min-width : 61.25em) {
	
}

@media only screen and (min-width : 62.5em) {
	
}

@media only screen and (min-width : 63.125em) {

	
}

body #header {
	background: #c6c6c6;
	max-width:1000px;
	margin: 0 auto;
	padding:0 10px;
}

body, .navMain, .sidebarTabLink a {
/*background: #f5f7fa;*/
font-family: Arial,'Helvetica',sans-serif;
font-size: 0.875em;
font-size: 0.875rem;
line-height: 1.714285;
text-transform:lowercase;
}

#tagCloud span{
	font-size:13px!important;
}

.socialShare a:link, #aSearchLink, .socialShare li{
	text-indent:-140px;
}

.credits{
	display:none;
}

